body {
  background: #d7d3e2;
  background: -moz-radial-gradient(
    center,
    #d7d3e2 0%,
    #b4b1c4 32%,
    #8890b4 100%
  );
  background: -webkit-radial-gradient(
    center,
    #d7d3e2 0%,
    #b4b1c4 32%,
    #8890b4 100%
  );
  background: radial-gradient(
    ellipse at center,
    #d7d3e2 0%,
    #b4b1c4 32%,
    #8890b4 100%
  );
}

.banner {
  height: 400px;
  width: 100%;
  background-image: url("/images/aston-martin.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 2em;
}

.card {
  width: 25rem;
  /* border: 0.5em solid black; */
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 11px 13px rgba(226, 226, 226, 0.84);
  box-shadow: 0px 5px 11px 13px rgba(226, 226, 226, 0.84);
  background-color: rgba(223, 227, 230, 0.7);
  margin-bottom: 3em;
}

.card-img-top {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
.heading {
  color: #ffffff;
  font-size: 4.5em;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.addcar {
  width: 80%;
  margin: auto;
  align-items: center;
}
