RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^car$ controllers/car.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^car$ controllers/car.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^car/([0-9]+)$ controllers/car.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^car/([0-9]+)$ controllers/car.php?action=delete&id=$1